<div class="site-footer">
  <div class="footer-inner">
    <div class="footer-left">&copy; <%= Time.current.year %> SPEAK. All rights reserved.</div>
    <div class="footer-right">
      <%= link_to 'About', about_path, class: 'footer-link' %>
      <%= link_to 'Contact', '#', class: 'footer-link' %>
      <%= link_to 'Terms', '#', class: 'footer-link' %>
    </div>
  </div>
</div>