<style>
  .ems-footer { background: #2d3748; color: #fff; text-align: center; padding: 18px 0; width: 100%; font-size: 0.95rem; position: fixed; bottom: 0; margin-top: 32px; }
</style>
<div class="ems-footer">
  &copy; 2026 SPEAK. All rights reserved.
</div>