<div class="ems-header">
  <div class="ems-title">SPEAK</div>
  <nav class="ems-nav">
    <%= link_to "Home", root_path %>
    <a href="#">About</a>
    <a href="#">Contact</a>
    <a href="#">Terms of Service</a>
  </nav>
</div>